In [14]:
#1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.
test1 = "This is a test of the emergency text system"
f = open('test1.txt','w')
f.write(test1)

43

In [15]:
#2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?
file2 = open('test1.txt','r')
test2 = file2.readline()
test2

'This is a test of the emergency text system'

In [16]:
if test1 == test2:
    print("both are same")

both are same

In [20]:
'''3. Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992'''

import csv 

rows = [['title','author','year'],
      [ 'The Weirdstone of Brisingamen','Alan Garner',1960],
['Perdido Street Station','China Miéville',2000],
['Thud!,Terry', 'Pratchett',2005],
['The Spellman Files','Lisa Lutz',2007],
['Small Gods','Terry Pratchett',1992]]

with open('book1.csv','w',newline='') as file:
    writer= csv.writer(file)
    writer.writerows(rows)

In [23]:
#4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

import sqlite3
conn = sqlite3.connect('book1.db')
c = conn.cursor()

c.execute('create table book1(title varchar(30), author varchar(30), year int)')
conn.commit()

In [27]:
#5. Read books.csv and insert its data into the book table.
import pandas as pd
read_book1 = pd.read_csv('book1.csv',encoding='unicode_escape')
read_book1.to_sql('book1', conn, if_exists='append', index = False)

5

In [29]:
#6. Select and print the title column from the book table in alphabetical order.
c.execute('select * from book1 order by title asc')
print(c.fetchall())

[('Perdido Street Station', 'China Miéville', 2000), ('Small Gods', 'Terry Pratchett', 1992), ('The Spellman Files', 'Lisa Lutz', 2007), ('The Weirdstone of Brisingamen', 'Alan Garner', 1960), ('Thud!,Terry', 'Pratchett', 2005)]

In [38]:
#7. From the book table, select and print all columns in the order of publication.
c.execute('select title, author,year from book1 order by year')


df = pd.DataFrame(c.fetchall(), columns=['title','author','year'])
df

                           title           author  year
0  The Weirdstone of Brisingamen      Alan Garner  1960
1                     Small Gods  Terry Pratchett  1992
2         Perdido Street Station   China Miéville  2000
3                    Thud!,Terry        Pratchett  2005
4             The Spellman Files        Lisa Lutz  2007

In [40]:
#8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.
import sqlalchemy
engine = sqlalchemy.create_engine("sqlite:///book1.db")
rows = engine.execute('select * from book1')
for i in rows:
    print(i)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!,Terry', 'Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

In [ ]:
#9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

!pip install Redis

In [ ]:
import redis
conn = redis.Redis()
conn.delete('test')
conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})
conn.hgetall('test')

In [ ]:
#10. Increment the count field of test and print it.

conn.hincrby('test','count', 3)